{% extends "layout.html" %}
{% block nav_companies %}active{% endblock %}
{% block title %}Company | {% endblock %}
{% block content %}
    <div class="container">
        <h2 class="mt-5">{{ data[0].name|e }} 13F filings</h2>
        <h4 class="mb-2">Click a filing date to see more details</h4>
        <table id="table13f" class="display nowrap table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">Value (000s)</th>
                <th scope="col" class="text-center">Change</th>
                <th scope="col" class="text-center">Number of holdings</th>
            </tr>
            </thead>
            <tbody>
            {% for form in data %}
                <tr>
                    <th scope="row"><a href="/company/{{ form.cik }}/{{ form.sec_id }}">{{ form.date }}</a></th>
                    <td class="text-right">$ {{ form.total_val }}</td>
                    <td class="text-right {{ form.gain_class }}">$ {{ form.gain }}</td>
                    <td class="text-right">{{ form.num_holdings }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block datatables %}
    "order":  [[ 0, "desc" ]]
{% endblock %}