{% extends "layout.html" %}
{% block nav_home %}active{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="mt-5">Institutional investors</h2>
        <table id="table13f" class="display nowrap table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col" class="text-center">Company</th>
                <th scope="col" class="text-center">Last 13F filing</th>
                <th scope="col" class="text-center">Value (000s)</th>
                <th scope="col" class="text-center">Gain or loss</th>
                <th scope="col" class="text-center">Number of holdings</th>
            </tr>
            </thead>
            <tbody>
            {% for form in data %}
                <tr>
                    <th scope="row"><a href="/company/{{ form.cik }}">{{ form.name|e }}</a></th>
                    <td>{{ form.date }}</td>
                    <td class="text-right">$ {{ form.total_val }}</td>
                    <td class="text-right {{ form.gain_class }}">$ {{ form.gain }}</td>
                    <td class="text-right">{{ form.num_holdings }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block datatables %}
    "order":  [[ 2, "desc" ]]
{% endblock %}