{% extends "layout.html" %}
{% block nav_home %}active{% endblock %}
{% block content %}
    <div class="container">
        <div class="container">
            <div class="card mb-2 mt-4">
                <div class="card-body">
                    <h5 class="card-title">Ever wondered what would happen if you tried to copy large hedge funds?</h5>
                    <p class="card-text">
                        I don't have the answers, but a rough attempt at a guess is shown in the last column.
                        It shows the result of copying the top 50 largest stocks from 2014 to present by analysing
                        the form 13F filings of various companies. The backtest makes a lot of assumptions and doesn't
                        exactly reflect reality. It may also have bugs*.
                    </p>
                </div>
            </div>
        </div>
        <h2 class="mt-5">List of Institutional investors</h2>
        <h4 class="mb-2">Click a company name to see more details</h4>
        <table id="table13f" class="display nowrap table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col" class="text-center">Company</th>
                <th scope="col" class="text-center">Last 13F filing</th>
                <th scope="col" class="text-center">Value (000s)</th>
                <th scope="col" class="text-center">Change</th>
                <th scope="col" class="text-center">Number of holdings</th>
                <th scope="col" class="text-center">Top 50 Backtest*</th>
            </tr>
            </thead>
            <tbody>
            {% for form in data %}
                <tr>
                    <th scope="row"><a href="/company/{{ form.cik }}">{{ form.name|e }}</a></th>
                    <td><a href="/company/{{ form.cik }}/{{ form.sec_id }}">{{ form.date }}</a></td>
                    <td class="text-right">$ {{ form.total_val }}</td>
                    <td class="text-right {{ form.gain_class }}">$ {{ form.gain }}</td>
                    <td class="text-right">{{ form.num_holdings }}</td>
                    <td class="text-right">{{ form.return }} %</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                *This feature is in beta.
            </div>
        </div>
    </div>
{% endblock %}

{% block datatables %}
    "order":  [[ 2, "desc" ]]
{% endblock %}